{% extends  "layout.html" %}

{% block title %} About {% endblock %}

{% block heading %} About {% endblock %}

{% block content %}
<p>	
Born and raised in South Carolina, I’ve been a 
 Southern girl from the very start. 
 I attended Berry College (which is a magical place btw) for a few years and learned both IT skills and dairy work.</p>

<p>Since high school, I’ve worked as a fast food worker, a referee, a dairy hand, the school IT chick, and a web developer.
 I love web design and development and enjoy helping people make their mark on the world through the internet.
 </p>
 
 <p>I am 23 years old. I like reading, writing poetry, Apple tech, cute puppy dogs, olives, and Assassins Creed.
  When I grow up I want to be a cowgirl, but a web developer would be fun too. 
 I am super inspired by people like Thomas Frank, Steve Kamb, Tim Ferris, and Amelia Boone.
 </p>

{% endblock %}