{% load static from staticfiles %}

<!doctype html>
<html>
	<head>
		<title>{% block title %} {% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
		<link rel="shortcut icon" href="{% static 'images/Logo.jpg' %}"/>

	</head>
	<body>
		<div class="site-container">
			<h1 style="margin-left: 10px; font-style: italic;">{% block heading %} {% endblock %}</h1>
				<div class = 'content'>
					{% block content %} {% endblock %}
				</div>
		</div>
	</body>
</html>
