{% load static from staticfiles %}

<!doctype html>
<html>
	<head>
		<title>{% block title %} {% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
		<link rel="shortcut icon" href="{% static 'images/Logo.jpg' %}"/>

	</head>
	<body>
		<div class="site-container">
			<div class='header'>
				<h1 id="title_header" style="margin: -1px;text-shadow: 1px 1px #ffffff;">Social Monomania</h1>
				<div class='graphic'>
			 		<img src="{% static 'images/banner.jpg' %}" alt="Header"/>
			 	</div>
			 </div>
			<h1 style="margin-left: 10px; font-style: italic;">{% block heading %} {% endblock %}</h1>
				<div class = 'content'>
					{% block content %} {% endblock %}
				</div>
		</div>
	</body>
</html>
