.site-container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  font-family:"Lucida Console", Monaco, monospace;
  padding-bottom: 100px;
   }
  
.header{
	width:cover;
	font-size: 30px;
	color: white;
	text-decoration: none;
	}